In [97]:
import os
import pandas as pd
from DataProcess.Data_reader import read_data
js_files_path = '/Users/jiayi/PycharmProjects/twitter/geoEurope'
if 'data.csv' in os.listdir('/Users/jiayi/PycharmProjects/data'):
    df = pd.read_csv('/Users/jiayi/PycharmProjects/data/data.csv',index_col = 0)
else:
    df = read_data(js_files_path)

/var/folders/7g/hwjf72_14mgdnxg9y88mhvv00000gn/T/ipykernel_3407/2146931429.py:6: DtypeWarning: Columns (0,1,4,5,6,7,8,14,17,39,41,43,44,46,50,52,53,54,55,58,59,60,61,62,63,64,66,67,69,70,72,109,112,114,116,117,119,123,125,126,127,128,131,132,133,134,135,136,138,139,141,142,144) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/jiayi/PycharmProjects/data/data.csv',index_col = 0)

In [91]:
pr_1w = pd.read_csv('/Users/jiayi/PycharmProjects/data/data.csv',nrows = 10000)
pr_1w.to_csv('/Users/jiayi/PycharmProjects/data/First_10w.csv')

,reply_count,in_reply_to_status_id,favorited,in_reply_to_status_id_str,entities,id_str,in_reply_to_screen_name,coordinates,quote_count,retweeted,...,filter_level.3,is_quote_status.3,quoted_status_id_str.3,quoted_status_permalink.3,quoted_status.3,quoted_status_id.3,extended_tweet.3,display_text_range.3,possibly_sensitive.3,extended_entities.3
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,low,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,low,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,low,True,1.536100e+18,"{'display': 'twitter.com/RodgerRoberts1…', 'ex...","{'reply_count': 1, 'in_reply_to_status_id': No...",1.536100e+18,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,low,False,NaN,NaN,NaN,NaN,"{'display_text_range': [0, 277], 'entities': {...",NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,low,False,NaN,NaN,NaN,NaN,NaN,"[65, 125]",NaN,NaN